:root{
  --bgbrown: rgb(197, 170, 123); 
}

.App {
  text-align: center;
  background-color: var(--bgbrown);
}
 
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(73, 45, 3);
}

/*.App-link {
  color: #68bbcf;
}*/

a:-webkit-any-link {
  color:#165005; 
}

button {
  background: none!important;
  border: none;
  padding: 0!important;
  text-decoration: underline;
  cursor: pointer;
  color: #276614;
  font-size: 20pt;
}


.progress {
  width: 100%;
  background-color: white;
  overflow: hidden;
}

.bar {
  width: 1%;
  height: 5px;
  background-color: #276614;
}


